body{
    text-align: center;
    font-size: 18px;
    /*    color: #fff;*/
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    /* background-color: #000; */
}

.main{
    width:100%;
    overflow: hidden;
    padding: 0;
    color: #333;
}

.nav,.right{
    width: 250px;
    float: left;
    height: 100%;
    position: relative;
}

.center{
    float: left;
    height: 100%;
    padding: 0;
}

.top_nav{
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    height: auto;
    width: 95%;
    margin: 3% auto;
    padding-bottom: 15%;
}

.top_nav .dp{
    display: block;
    border: 1px solid #ececec;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    height: 30px;
    width: 79px;
    line-height: 30px;
    text-align: center;
    margin: 3% auto 0;
}

.lct{
    font-size: 30px;
    margin-bottom: 8%;
}

.nav ul{
    overflow: hidden;
    width: 45%;
    margin: auto 2%;
    height: auto;
    float: left;
}

.nav ul li{
    float: left;
    height: auto;
    padding: 2% 0;
    width: 100%;
    border-radius: 5px;
    border:1px solid #ececec;
    margin-top: 10%;
    font-size: 14px;
    cursor: pointer;
}

.nav ul li:nth-child(2n){
    float: right;
}

.idea{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.idea a{
    display: block;
    width: 100%;
    height: auto;
    padding: 3% 0;
    background-color: #f45;
    color: #fff;
    font-size: 14px;
    margin-top: 2%;
}

.c_top_student{
    position: relative;
    height: 20%;
    background-color: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.div_show{
    position: absolute;
    width: 100%;
    z-index: 100;
}
.c_top_student .half{
    width: 50%;
    font-size: 14px;
    display: inline-block;
}

.c_top_student .half_tea{
    position: relative;
    left: 0!important;
} 

.c_top_student .name{
    font-size: 16px;
    margin-top: 2%;
}

.c_top_student .R{
    left: 50%;
}

.c_top_student .R ul li{
    display: none;
    margin-top:1%;
}

.c_top_student .R ul li a{
    font-size: 14px;
    color: #666;
}

.c_top_student .R li.cur{
    display: block;
}

.vises{
    position: relative;
    width: 100%;
}

.vises img{
    width: 100%;
    height: 100%;
}

.vises .nr_name{
    position: absolute;
    top: 20px;
    left: 30px;
    color: #fff;
    font-size: 16px;
}

.right_top_student ol{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #f45;
}

.right_top_student ol li{
    float: left;
    width: 33.33%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.right_top_student ol li.cur{
    background: #000;
}

.right_top_student ul{
    height: auto;
    width: 100%;
    position: absolute;
    top: 40px;
    background: #fff;
}

.right_top_student ul li{
    text-align: left;
    padding: 0 0 0 3%;
    width: 97%;
    display: none;
    font-size: 15px;
    padding-bottom: 2%;
}

.right_top_student ul li div{
    margin-top: 3%;
    cursor: pointer;
}

.right_top_student ul li.cur{
    display: block;
}

.show_chat{
    width: 92%;
    font-size: 14px;
    color: #666;
    overflow-y: auto;
    margin: auto;
}

.show_chat .L_chat{
    text-align: left;
}

.mc{
    color: red;
    padding-right: 10px;
}

.chat{
    padding-top: 4%;
}

.show_chat .R_chat{
    text-align: left;
}

.show_chat .R_chat .mc{
    float: right;
    padding-left: 10px;
}

.chat_shi{
    width: 100%;
    height: 50px;
    overflow: hidden;

}

.chat_shi textarea{
    width: 82%;
    float: left;
    height: 50px;
    overflow-y: auto;
    resize:none;
    border:none;
    outline: none;
    padding: 2%;
    border:1px solid #eee;
    font-size: 12px;
    color: #666;
    box-sizing:border-box;
}

.chat_shi button{
    float: right;
    width: 18%;
    height: 50px;
    background-color:#f45;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border:none;
    outline: none;
}

.ceng{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background: rgba(0,0,0,0.7);
}

.show_box{
    width:80%;
    left:10%;
    height: auto;
    top: 10%;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    padding:2% 0%;
}

.show_box .left{
    float: left;
    width: 20%;
    height: 100%;
}

.show_box .left ul {
    width: 90%;
    margin:auto;
    height: auto;
}

.show_box .left ul li{
    width: 100%;
    height: auto;
    padding: 2% 0;
    margin-bottom: 4%;
    border:1px solid #eee;
    border-radius: 5px;
    text-align: center;
    color: #666;
}

.dq_idea{
    width: 75%;
    margin-left: auto;
    margin-bottom: 2%;
    font-size: 18px;
    text-align: left;
}

.show_chats{
    width: 75%;
    overflow-y: auto;
    /*    border:1px solid #eee;*/
    float: right;
    padding: 1%;
}

.show_chats ol{
    width: 100%;
    height: auto;
}

.show_chats ol li{
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 3%;
    font-size: 14px;
    line-height: 24px;
}

.show_chats ol li .time{
    float: left;
    display: block;
    width: 100px;
    color: #333;
}

.show_chats ol li  p{
    margin-left: 100px;
    text-align: left;
}

.close{
    float: right;
    position: relative;
    top: -10px;
    left: -30px;
    font-size: 20px;
}

.show_chats textarea{
    width: 98%;
    height: 200px;
    resize:none;
    outline: none;
    border-radius: 5px;
    padding: 1%;
    border: none;
    border:1px solid #eee;
}

.show_chats_pl{
    border:none;
}

.btn{
    width: 70px;
    height: 30px;
    background: #f45;
    outline: none;
    color: #fff;
    border:none;
    display: block;
    margin: 3% auto 0;
}

.show_box_number{
    width: 60%;
    left: 19%;
}

.show_box_number .dq_idea,.show_box_number .show_chats{
    width: 100%;
    text-align: center;
    float: none;
}

.show_box_number .show_chats{
    width: 96%;
    margin: auto;
}

.show_box_number .show_chats ol li .time{
    width: 50px;
}

.show_box_number .show_chats ol li p{
    margin-left: 50px;
}

.man_list{
    width: 87%;
    height: auto;
    background-color: #fff;
    text-align: left;
    padding: 1% 0 1% 1%;
    position: absolute;
    bottom: 59px;
    box-shadow: 1px 1px 1px 1px #d4d4d4;
}

.man_list li{
    font-size: 13px;
    color: #666;
    margin-bottom: 1%;
}

.header{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto 3%;
    border-radius: 50%;
}

.halfs span{
    display: inline-block;
    width: 50%;
    float: left;
    font-size: 38px;
}

.c_top_teacher{
    position: relative;
    height: 20%;
    background-color: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.lesson{
    width: 90%;
    margin: auto;
    padding: 2% 0;
}

.lesson span{
    display: inline-block;
    color: #666;
    font-size: 16px;
    margin-right: 3%;
}

.right_top_teacher,.right_top_student{
    height: 20%;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    position: relative;
}

.right_top_teacher button{
    display: block;
    width: 100%;
    height: 35px;
    border:none;
    outline: none;
    background: #f45;
    color: #fff;
    position: relative;
}

.right_top_teacher ol{
    text-align: left;
    padding-left: 1%;
    width: 98%;
}

.right_top_teacher ol li a{
    font-size: 14px;
    color: #666;
}

.c_top_teacher .halfs{
    overflow-y: hidden;
    width: 80%;
    display: inline-block;
}

.right_top_teacher ol li{
    padding-bottom: 1%;
    background-color: #ffffff;
    display: none;
}

.right_top_teacher ol li.cur_tea{
    display: block;
}

.ol_one{
    overflow: hidden;
    height: auto;
    width: 100%;
}

.ol_one li{
    float: left;
    text-align: center;
    margin-bottom: 2%!important;
}

.there li{
    width: 33.33%!important;
    float: left;
    text-align: center;
}

.showIndexes li{
    width: 100%!important;
}

.four li{
    width:25%;
}

.choose{
    padding: 2% 0;
    text-align: left;
    font-size: 16px;
}

.show_box_number .dq_idea{
    border-bottom: 1px solid #eee;
    padding-bottom: 2%;
}

.five li{
    width:20%;
}


@media screen and (max-width: 900px) {
    .nav ul li,.idea a{
        font-size: 12px;
    }

    .top_nav .dp {
        height: 26px;
        width: 70px;
        line-height: 26px;
    }

    .top_nav{
        font-size: 16px;
    }

    .c_top_student .name{
        font-size: 14px;
    }

    .c_top_student .half,.right_top_student ol li,.right_top_student ul li,.show_chat,.chat_shi button{
        font-size: 12px;
    }

    .nav, .right{
        width: 160px;
    }
}

.pm{
    width: 100%;
}

.show_chats ol li{
    cursor: pointer;
    text-align: center;
}

.show_chats1 ol li.cur{
    font-weight: 700;
    font-size: 16px;
}

.show_chats1 .show_list{
    padding-bottom: 1%;
    text-align: left;
}

.show_chats1 .time{
    width: 30px;
}

.show_list .btn{
    width: 100px;
    cursor: pointer;
}

.show_list .list{
    margin-bottom: 2%;
}

.show_list .list{
    /*    display: none;*/
}

.show_list .list:nth-child(1),.show_list .list:nth-child(2),.show_list .list:nth-child(3){
    display: block;
}


.more_btn,.p_more{
    display: block;
    width:100px!important;
    height: 30px!important;
    border: none;
    outline: none;
    background: #f45;
    color: #fff;
    margin:auto;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.right_top_teacher .qus li:nth-child(1),.right_top_teacher .qus li:nth-child(2){
    display: block;
}

.ckgd{
    background:#fff; 
    padding-bottom: 20px;
}


.right_top_student ul li div{
    display: none;
}

.right_top_student ul li div:nth-child(1),.right_top_student ul li div:nth-child(2),.right_top_student ul li div:nth-child(3){
    display: block;
}

.p_more{
    margin-top: 2%;
}
.showEvent li, .showGroup li{
    width: 50%;
}
.showblock li{
    width: 100%;
}
.cur{
    color:red;
}